<form id="new-question" method="post" action="/questions">
  <input type="text" id="question-content" name="question[content]" placeholder="What's your question?">
  <input type="submit" value="Ask">
</form>