<h2>Login</h2>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
    <% end %>
  <% end %>

<form id="login_form" method="post" action="/sessions">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Login" />
</form>