<h1>Dogs are awesome</h1>

<% if @dogs.empty? %>
  <p>No puppers found. Add some!</p>
<% end %>

<ol>
  <% @dogs.each do |dog| %>
    <li><%= dog.name %>, a <%= dog.breed %>, is a good dog!</li>
  <% end %>
</ol>
